.desktop {
    width: 100vw;
    height: 100vh;
    background: url('/assets/wallpaper.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.icons {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon {
    width: 80px;
    text-align: center;
    cursor: pointer;
    color: white;

    img {
        width: 48px;
        height: 48px;
    }
}